<!DOCTYPE html>
<html>
 <head> 
  <title>GifHub</title>
  
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="style.css">
   

 </head>
  <body id="home_complete">
   
    <div id="home">
      <h1 class="main-title"> Hello,<br> Welcome to GifHub!</h1> 
    </div>
         <div class="upload-link">
      <a href="/login">Login</a><br>
   
      <p>or</p>
      
          <div class="upload-link">
      <a href="/signup">Sign Up</a>
    </div>
    
   
  
    </body>
    <footer>Created by Quincy Morgan and Christina Philipson</footer>
</html>