<!DOCTYPE html>
<html>
 <head> 
  <title>GifHub</title>
  
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="style.css">
   

 </head>
  <body id="home_complete">
   
    <div id="home">
      <h1 class="main-title"> Hello,<br> Welcome to GifHub!</h1> 
    </div>
    <div class="upload-link">
      <a href="/new_gif">Upload Gif</a><br><br><br>
    </div>
    
   
  
    </body>
</html>