<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="style.css">
    
    <title>Login</title>
  </head>
  <body id="login_complete">
  
     <form  action="/login" method="post">
    
      
      
       <h1 class="logintext"> Enter your username </h1>
        <input id="username" type="text" name="username"placeholder="Username">
         <h1 class="logintext"> Enter your password </h1>
        <input id="password" type="password" name="password"placeholder="Password">
         
        <br><br> <input type="submit" class="button"value="Login">
  <style type="text/css">

       
    </form>
  </body>
    <footer>Created by Quincy Morgan and Christina Philipson</footer>
</html>