<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="style.css">
    
    <title>New Gif</title>
  </head>
  <body id="new_complete">
 
     <form action="/new_gif" method="post">
    
      
       <div id="url"> <h1> Please paste a url for a gif! </h1>
        <input id="url" type="text" name="url" placeholder="url for gif" >
      
        <br><br> <input type="submit" class="button"value="send"></div>
  <style type="text/css">

       
    </form>
  </body>
    <footer>Created by Quincy Morgan and Christina Philipson</footer>
</html>