<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="style.css">
    
    <title>New Gif</title>
  </head>
  <body id="new_complete">
 
     <form action="/new_gif" method="post">
    
      
       <div id="email"> <h1> Please enter your email! </h1>
        <input id="email" type="text" name="email" placeholder="Email" >
       <h1> Please choose a username! </h1>
        <input id="username" type="text" name="username"placeholder="Username">
         <h1> Please enter a password! </h1>
        <input id="password" type="text" name="password"placeholder="Password">
         
        <br><br> <input type="submit" class="button"value="Sign up!"></div>
  <style type="text/css">

       
    </form>
  </body>
</html>