<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="style.css">
    
    <title>New Gif</title>
  </head>
  <body id="signup_complete">
 
     <form action="/signup" method="post">
    
      
       <div class="enter"> <h1 class="signuptext"> Enter your email </h1>
        <input id="email" type="text" name="email" placeholder="Email" >
       <h1 class="signuptext"> Choose a username </h1>
        <input id="username" type="text" name="username"placeholder="Username">
         <h1 class="signuptext"> Enter a password </h1>
        <input id="password" type="password" name="password"placeholder="Password">
         
        <br><br> <input type="submit" class="button"value="Sign up"></div>
  <style type="text/css">

       
    </form>
  </body>
    <footer>Created by Quincy Morgan and Christina Philipson</footer>
</html>